.content {
	position: absolute;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
@media screen and (max-width: 767px){
	.content {
		top: 50px;
	}
}
body.iosApp .content {
	top: 70px;
}
.sub-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 1;
}
@media screen and (min-width: 767px){
	.sub-content {
		left: 250px;
	}
}
.bobcontent {
	position: relative;
	width: 100%;
}
