.footer {
	width: 100%;
	padding: 20px;
	position: relative;
	text-align: center;
	color: #fafafa;
	background-color: #303030;
	font-size: 15px;
	z-index: 101;
	
	a {
		color: #ccc;
	}
}
