.fullOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	
	background-color: rgba(0,0,0,.4);
	
	-webkit-transition: visibility 0s .35s, opacity 0.3s .15s;
		-moz-transition: visibility 0s .35s, opacity 0.3s .15s;
		 -ms-transition: visibility 0s .35s, opacity 0.3s .15s;
		  -o-transition: visibility 0s .35s, opacity 0.3s .15s;
			  transition: visibility 0s .35s, opacity 0.3s .15s;
	
	&.show {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.3s .15s;
			-moz-transition: opacity 0.3s .15s;
			 -ms-transition: opacity 0.3s .15s;
			  -o-transition: opacity 0.3s .15s;
				  transition: opacity 0.3s .15s;
	}
}

@media screen and(max-width: 767px){
	.overlay {
		width: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 10;
		cursor: pointer;
		opacity: 0;
		background-color: rgba(0,0,0,.5);
		@include transitionCus(opacity 0.15s .15s);
		
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
		&.top {
			top: 0;
		}
		&.bottom {
			bottom: 0;
		}
		
		&.open {
			width: 100%;
			opacity: 1;
			@include transitionCus(opacity 0.15s .15s);
		}
	}
}