[class*="count"] {
  width: 35px;
  height: 23px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
[class*="count"][class*="-2x"], [class*="count"][class*="-large"] {
  width: 70px;
  height: 47px;
}
[class*="count"].AF, [class*="count"].AFG {
  background-image: url(../images/Afghanistan.png);
}
[class*="count"].AL, [class*="count"].ALB {
  background-image: url(../images/Albania.png);
}
[class*="count"].DZ, [class*="count"].DZA {
  background-image: url(../images/Algeria.png);
}
[class*="count"].AS, [class*="count"].ASM {
  background-image: url(../images/American-Samoa.png);
}
[class*="count"].AD, [class*="count"].AND {
  background-image: url(../images/Andorra.png);
}
[class*="count"].AO, [class*="count"].AGO {
  background-image: url(../images/Angola.png);
}
[class*="count"].AI, [class*="count"].AIA {
  background-image: url(../images/Anguilla.png);
}
[class*="count"].AQ, [class*="count"].ATA {
  background-image: url(../images/Antarctica.png);
}
[class*="count"].AG, [class*="count"].ATG {
  background-image: url(../images/Antigua-And-Barbuda.png);
}
[class*="count"].AR, [class*="count"].ARG {
  background-image: url(../images/Argentina.png);
}
[class*="count"].AM, [class*="count"].ARM {
  background-image: url(../images/Armenia.png);
}
[class*="count"].AW, [class*="count"].ABW {
  background-image: url(../images/Aruba.png);
}
[class*="count"].AU, [class*="count"].AUS {
  background-image: url(../images/Australia.png);
}
[class*="count"].AT, [class*="count"].AUT {
  background-image: url(../images/Austria.png);
}
[class*="count"].AZ, [class*="count"].AZE {
  background-image: url(../images/Azerbaijan.png);
}
[class*="count"].BS, [class*="count"].BHS {
  background-image: url(../images/Bahamas.png);
}
[class*="count"].BH, [class*="count"].BHR {
  background-image: url(../images/Bahrain.png);
}
[class*="count"].BD, [class*="count"].BGD {
  background-image: url(../images/Bangladesh.png);
}
[class*="count"].BB, [class*="count"].BRB {
  background-image: url(../images/Barbados.png);
}
[class*="count"].BY, [class*="count"].BLR {
  background-image: url(../images/Belarus.png);
}
[class*="count"].BE, [class*="count"].BEL {
  background-image: url(../images/Belgium.png);
}
[class*="count"].BZ, [class*="count"].BLZ {
  background-image: url(../images/Belize.png);
}
[class*="count"].BJ, [class*="count"].BEN {
  background-image: url(../images/Benin.png);
}
[class*="count"].BM, [class*="count"].BMU {
  background-image: url(../images/Bermuda.png);
}
[class*="count"].BT, [class*="count"].BTN {
  background-image: url(../images/Bhutan.png);
}
[class*="count"].BO, [class*="count"].BOL {
  background-image: url(../images/Bolivia.png);
}
[class*="count"].BA, [class*="count"].BIH {
  background-image: url(../images/Bosnia-And-Herzegowina.png);
}
[class*="count"].BW, [class*="count"].BWA {
  background-image: url(../images/Botswana.png);
}
[class*="count"].BV, [class*="count"].BVT {
  background-image: url(../images/Bouvet-Island.png);
}
[class*="count"].BR, [class*="count"].BRA {
  background-image: url(../images/Brazil.png);
}
[class*="count"].IO, [class*="count"].IOT {
  background-image: url(../images/British-Indian-Ocean-Territory.png);
}
[class*="count"].BN, [class*="count"].BRN {
  background-image: url(../images/Brunei-Darussalam.png);
}
[class*="count"].BG, [class*="count"].BGR {
  background-image: url(../images/Bulgaria.png);
}
[class*="count"].BF, [class*="count"].BFA {
  background-image: url(../images/Burkina-Faso.png);
}
[class*="count"].BI, [class*="count"].BDI {
  background-image: url(../images/Burundi.png);
}
[class*="count"].KH, [class*="count"].KHM {
  background-image: url(../images/Cambodia.png);
}
[class*="count"].CM, [class*="count"].CMR {
  background-image: url(../images/Cameroon.png);
}
[class*="count"].CA, [class*="count"].CAN {
  background-image: url(../images/Canada.png);
}
[class*="count"].CV, [class*="count"].CPV {
  background-image: url(../images/Cape-Verde.png);
}
[class*="count"].KY, [class*="count"].CYM {
  background-image: url(../images/Cayman-Islands.png);
}
[class*="count"].CF, [class*="count"].CAF {
  background-image: url(../images/Central-African-Republic.png);
}
[class*="count"].TD, [class*="count"].TCD {
  background-image: url(../images/Chad.png);
}
[class*="count"].CL, [class*="count"].CHL {
  background-image: url(../images/Chile.png);
}
[class*="count"].CN, [class*="count"].CHN {
  background-image: url(../images/China.png);
}
[class*="count"].CX, [class*="count"].CXR {
  background-image: url(../images/Christmas-Island.png);
}
[class*="count"].CO, [class*="count"].COL {
  background-image: url(../images/Colombia.png);
}
[class*="count"].KM, [class*="count"].COM {
  background-image: url(../images/Comoros.png);
}
[class*="count"].CG, [class*="count"].COG {
  background-image: url(../images/Congo-Replubic.png);
}
[class*="count"].CD, [class*="count"].COD {
  background-image: url(../images/Congo-Democratic.png);
}
[class*="count"].CK, [class*="count"].COK {
  background-image: url(../images/Cook-Islands.png);
}
[class*="count"].CR, [class*="count"].CRI {
  background-image: url(../images/Costa-Rica.png);
}
[class*="count"].CI, [class*="count"].CIV {
  background-image: url(../images/Cote-Divoire.png);
}
[class*="count"].HR, [class*="count"].HRV {
  background-image: url(../images/Croatia.png);
}
[class*="count"].CU, [class*="count"].CUB {
  background-image: url(../images/Cuba.png);
}
[class*="count"].CY, [class*="count"].CYP {
  background-image: url(../images/Cyprus.png);
}
[class*="count"].CZ, [class*="count"].CZE {
  background-image: url(../images/Czech-Republic.png);
}
[class*="count"].DK, [class*="count"].DNK {
  background-image: url(../images/Denmark.png);
}
[class*="count"].DJ, [class*="count"].DJI {
  background-image: url(../images/Djibouti.png);
}
[class*="count"].DM, [class*="count"].DMA {
  background-image: url(../images/Dominica.png);
}
[class*="count"].DO, [class*="count"].DOM {
  background-image: url(../images/Dominican-Republic.png);
}
[class*="count"].TP, [class*="count"].TMP {
  background-image: url(../images/East-Timor.png);
}
[class*="count"].EC, [class*="count"].ECU {
  background-image: url(../images/Ecuador.png);
}
[class*="count"].EG, [class*="count"].EGY {
  background-image: url(../images/Egypt.png);
}
[class*="count"].SV, [class*="count"].SLV {
  background-image: url(../images/El-Salvador.png);
}
[class*="count"].GQ, [class*="count"].GNQ {
  background-image: url(../images/Equatorial-Guinea.png);
}
[class*="count"].ER, [class*="count"].ERI {
  background-image: url(../images/Eritrea.png);
}
[class*="count"].EE, [class*="count"].EST {
  background-image: url(../images/Estonia.png);
}
[class*="count"].ET, [class*="count"].ETH  {
  background-image: url(../images/Ethiopia.png);
}
[class*="count"].FJ, [class*="count"].FJI {
  background-image: url(../images/Fiji.png);
}
[class*="count"].FI, [class*="count"].FIN {
  background-image: url(../images/Finland.png);
}
[class*="count"].FR, [class*="count"].FRA {
  background-image: url(../images/France.png);
}
[class*="count"].GA, [class*="count"].GAB {
  background-image: url(../images/Gabon.png);
}
[class*="count"].GM, [class*="count"].GMB {
  background-image: url(../images/Gambia.png);
}
[class*="count"].GE, [class*="count"].GEO {
  background-image: url(../images/Georgia.png);
}
[class*="count"].DE, [class*="count"].DEU {
  background-image: url(../images/Germany.png);
}
[class*="count"].GH, [class*="count"].GHA {
  background-image: url(../images/Ghana.png);
}
[class*="count"].GR, [class*="count"].GRC {
  background-image: url(../images/Greece.png);
}
[class*="count"].GD, [class*="count"].GRD {
  background-image: url(../images/Grenada.png);
}
[class*="count"].GT, [class*="count"].GTM {
  background-image: url(../images/Guatemala.png);
}
[class*="count"].GN, [class*="count"].GIN {
  background-image: url(../images/Guinea.png);
}
[class*="count"].GW, [class*="count"].GNB {
  background-image: url(../images/Guinea-Bissau.png);
}
[class*="count"].GY, [class*="count"].GUY {
  background-image: url(../images/Guyana.png);
}
[class*="count"].HT, [class*="count"].HTI {
  background-image: url(../images/Haiti.png);
}
[class*="count"].HN, [class*="count"].HND {
  background-image: url(../images/Honduras.png);
}
[class*="count"].HK, [class*="count"].HKG {
  background-image: url(../images/Hong-Kong.png);
}
[class*="count"].HU, [class*="count"].HUN {
  background-image: url(../images/Hungary.png);
}
[class*="count"].IS, [class*="count"].ISL {
  background-image: url(../images/Iceland.png);
}
[class*="count"].IN, [class*="count"].IND {
  background-image: url(../images/India.png);
}
[class*="count"].ID, [class*="count"].IDN {
  background-image: url(../images/Indonesia.png);
}
[class*="count"].IR, [class*="count"].IRN {
  background-image: url(../images/Iran.png);
}
[class*="count"].IQ, [class*="count"].IRQ {
  background-image: url(../images/Iraq.png);
}
[class*="count"].IE, [class*="count"].IRL {
  background-image: url(../images/Ireland.png);
}
[class*="count"].IL, [class*="count"].ISR {
  background-image: url(../images/Israel.png);
}
[class*="count"].IT, [class*="count"].ITA {
  background-image: url(../images/Italy.png);
}
[class*="count"].JM, [class*="count"].JAM {
  background-image: url(../images/Jamaica.png);
}
[class*="count"].JP, [class*="count"].JPN {
  background-image: url(../images/Japan.png);
}
[class*="count"].JO, [class*="count"].JOR {
  background-image: url(../images/Jordan.png);
}
[class*="count"].KZ, [class*="count"].KAZ {
  background-image: url(../images/Kazakhstan.png);
}
[class*="count"].KE, [class*="count"].KEN {
  background-image: url(../images/Kenya.png);
}
[class*="count"].KI, [class*="count"].KIR {
  background-image: url(../images/Kiribati.png);
}
[class*="count"].KP, [class*="count"].PRK {
  background-image: url(../images/Korea-North.png);
}
[class*="count"].KR, [class*="count"].KOR {
  background-image: url(../images/Korea-South.png);
}
[class*="count"].KOSOVO {
  background-image: url(../images/Kosovo.png);
}
[class*="count"].KW, [class*="count"].KWT {
  background-image: url(../images/Kuwait.png);
}
[class*="count"].KG, [class*="count"].KGZ {
  background-image: url(../images/Kyrgyzstan.png);
}
[class*="count"].LA, [class*="count"].LAO {
  background-image: url(../images/Laos .png);
}
[class*="count"].LV, [class*="count"].LVA {
  background-image: url(../images/Latvia.png);
}
[class*="count"].LB, [class*="count"].LBN {
  background-image: url(../images/Lebanon.png);
}
[class*="count"].LS, [class*="count"].LSO {
  background-image: url(../images/Lesotho.png);
}
[class*="count"].LR, [class*="count"].LBR {
  background-image: url(../images/Liberia.png);
}
[class*="count"].LY, [class*="count"].LBY {
  background-image: url(../images/Libya.png);
}
[class*="count"].LI, [class*="count"].LIE {
  background-image: url(../images/Liechtenstein.png);
}
[class*="count"].LT, [class*="count"].LTU {
  background-image: url(../images/Lithuania.png);
}
[class*="count"].LU, [class*="count"].LUX {
  background-image: url(../images/Luxembourg.png);
}
[class*="count"].MK, [class*="count"].MKD {
  background-image: url(../images/Macedonia.png);
}
[class*="count"].MG, [class*="count"].MDG {
  background-image: url(../images/Madagascar.png);
}
[class*="count"].MW, [class*="count"].MWI {
  background-image: url(../images/Malawi.png);
}
[class*="count"].MY, [class*="count"].MYS {
  background-image: url(../images/Malaysia.png);
}
[class*="count"].MV, [class*="count"].MDV {
  background-image: url(../images/Maldives.png);
}
[class*="count"].ML, [class*="count"].MLI {
  background-image: url(../images/Mali.png);
}
[class*="count"].MT, [class*="count"].MLT {
  background-image: url(../images/Malta.png);
}
[class*="count"].MH, [class*="count"].MHL {
  background-image: url(../images/Marshall-Islands.png);
}
[class*="count"].MQ, [class*="count"].MTQ {
  background-image: url(../images/Martinique.png);
}
[class*="count"].MR, [class*="count"].MRT {
  background-image: url(../images/Mauritania.png);
}
[class*="count"].MU, [class*="count"].MUS {
  background-image: url(../images/Mauritius.png);
}
[class*="count"].MX, [class*="count"].MEX {
  background-image: url(../images/Mexico.png);
}
[class*="count"].FM, [class*="count"].FSM {
  background-image: url(../images/Micronesia-Federated.png);
}
[class*="count"].MD, [class*="count"].MDA {
  background-image: url(../images/Moldova.png);
}
[class*="count"].MC, [class*="count"].MCO {
  background-image: url(../images/Monaco.png);
}
[class*="count"].MN, [class*="count"].MNG {
  background-image: url(../images/Mongolia.png);
}
[class*="count"].ME, [class*="count"].MNE {
  background-image: url(../images/Montenegro.png);
}
[class*="count"].MS, [class*="count"].MSR {
  background-image: url(../images/Montserrat.png);
}
[class*="count"].MA, [class*="count"].MAR {
  background-image: url(../images/Morocco.png);
}
[class*="count"].MZ, [class*="count"].MOZ {
  background-image: url(../images/Mozambique.png);
}
[class*="count"].MM, [class*="count"].MMR {
  background-image: url(../images/Myanmar.png);
}
[class*="count"].NA, [class*="count"].NAM {
  background-image: url(../images/Namibia.png);
}
[class*="count"].NR, [class*="count"].NRU {
  background-image: url(../images/Nauru.png);
}
[class*="count"].NP, [class*="count"].NPL {
  background-image: url(../images/Nepal.png);
}
[class*="count"].NL, [class*="count"].NLD {
  background-image: url(../images/Netherlands.png);
}
[class*="count"].AN, [class*="count"].ANT {
  background-image: url(../images/Netherlands-Antilles.png);
}
[class*="count"].NC, [class*="count"].NCL {
  background-image: url(../images/New-Caledonia.png);
}
[class*="count"].NZ, [class*="count"].NZL {
  background-image: url(../images/New-Zealand.png);
}
[class*="count"].NI, [class*="count"].NIC {
  background-image: url(../images/Nicaragua.png);
}
[class*="count"].NE, [class*="count"].NER {
  background-image: url(../images/Niger.png);
}
[class*="count"].NG, [class*="count"].NGA {
  background-image: url(../images/Nigeria.png);
}
[class*="count"].NU, [class*="count"].NIU {
  background-image: url(../images/Niue.png);
}
[class*="count"].NF, [class*="count"].NFK {
  background-image: url(../images/Norfolk-Island.png);
}
[class*="count"].MP, [class*="count"].MNP {
  background-image: url(../images/Northern-Mariana-Islands.png);
}
[class*="count"].NO, [class*="count"].NOR {
  background-image: url(../images/Norway.png);
}
[class*="count"].OM, [class*="count"].OMN {
  background-image: url(../images/Oman.png);
}
[class*="count"].PK, [class*="count"].PAK {
  background-image: url(../images/Pakistan.png);
}
[class*="count"].PW, [class*="count"].PLW {
  background-image: url(../images/Palau.png);
}
[class*="count"].PA, [class*="count"].PAN {
  background-image: url(../images/Panama.png);
}
[class*="count"].PG, [class*="count"].png {
  background-image: url(../images/Papua-New-Guinea.png);
}
[class*="count"].PY, [class*="count"].PRY {
  background-image: url(../images/Paraguay.png);
}
[class*="count"].PE, [class*="count"].PER {
  background-image: url(../images/Peru.png);
}
[class*="count"].PH, [class*="count"].PHL {
  background-image: url(../images/Philippines.png);
}
[class*="count"].PN, [class*="count"].PCN {
  background-image: url(../images/Pitcairn.png);
}
[class*="count"].PL, [class*="count"].POL {
  background-image: url(../images/Poland.png);
}
[class*="count"].PT, [class*="count"].PRT {
  background-image: url(../images/Portugal.png);
}
[class*="count"].PR, [class*="count"].PRI {
  background-image: url(../images/Puerto-Rico.png);
}
[class*="count"].QA, [class*="count"].QAT {
  background-image: url(../images/Qatar.png);
}
[class*="count"].RE, [class*="count"].REU {
  background-image: url(../images/Reunion.png);
}
[class*="count"].RO, [class*="count"].ROM {
  background-image: url(../images/Romania.png);
}
[class*="count"].RU, [class*="count"].RUS {
  background-image: url(../images/Russian-Federation.png);
}
[class*="count"].RW, [class*="count"].RWA {
  background-image: url(../images/Rwanda.png);
}
[class*="count"].KN, [class*="count"].KNA {
  background-image: url(../images/Saint-Kitts-And-Nevis.png);
}
[class*="count"].LC, [class*="count"].LCA {
  background-image: url(../images/Saint-Lucia.png);
}
[class*="count"].VC, [class*="count"].VCT {
  background-image: url(../images/Saint-Vincent-And-The-Grenadines.png);
}
[class*="count"].WS, [class*="count"].WSM {
  background-image: url(../images/Samoa.png);
}
[class*="count"].SM, [class*="count"].SMR {
  background-image: url(../images/San-Marino.png);
}
[class*="count"].ST, [class*="count"].STP {
  background-image: url(../images/Sao-Tome-And-Principe.png);
}
[class*="count"].SA, [class*="count"].SAU {
  background-image: url(../images/Saudi-Arabia.png);
}
[class*="count"].SN, [class*="count"].SEN {
  background-image: url(../images/Senegal.png);
}
[class*="count"].RS, [class*="count"].SRB {
  background-image: url(../images/Serbia.png);
}
[class*="count"].SC, [class*="count"].SYC {
  background-image: url(../images/Seychelles.png);
}
[class*="count"].SL, [class*="count"].SLE {
  background-image: url(../images/Sierra-Leone.png);
}
[class*="count"].SG, [class*="count"].SGP {
  background-image: url(../images/Singapore.png);
}
[class*="count"].SK, [class*="count"].SVK {
  background-image: url(../images/Slovakia.png);
}
[class*="count"].SI, [class*="count"].SVN {
  background-image: url(../images/Slovenia.png);
}
[class*="count"].SB, [class*="count"].SLB {
  background-image: url(../images/Solomon-Islands.png);
}
[class*="count"].SO, [class*="count"].SOM {
  background-image: url(../images/Somalia.png);
}
[class*="count"].ZA, [class*="count"].ZAF {
  background-image: url(../images/South-Africa.png);
}
[class*="count"].SS, [class*="count"].SSD {
  background-image: url(../images/South-Sudan.png);
}
[class*="count"].ES, [class*="count"].ESP {
  background-image: url(../images/Spain.png);
}
[class*="count"].LK, [class*="count"].LKA {
  background-image: url(../images/Sri-Lanka.png);
}
[class*="count"].SD, [class*="count"].SDN {
  background-image: url(../images/Sudan.png);
}
[class*="count"].SR, [class*="count"].SUR {
  background-image: url(../images/Suriname.png);
}
[class*="count"].SZ, [class*="count"].SWZ {
  background-image: url(../images/Swaziland.png);
}
[class*="count"].SE, [class*="count"].SWE {
  background-image: url(../images/Sweden.png);
}
[class*="count"].CH, [class*="count"].CHE {
  background-image: url(../images/Switzerland.png);
}
[class*="count"].SY, [class*="count"].SYR {
  background-image: url(../images/Syria.png);
}
[class*="count"].TW, [class*="count"].TWN {
  background-image: url(../images/Taiwan.png);
}
[class*="count"].TJ, [class*="count"].TJK {
  background-image: url(../images/Tajikistan.png);
}
[class*="count"].TZ, [class*="count"].TZA {
  background-image: url(../images/Tanzania.png);
}
[class*="count"].TH, [class*="count"].THA {
  background-image: url(../images/Thailand.png);
}
[class*="count"].TG, [class*="count"].TGO {
  background-image: url(../images/Togo.png);
}
[class*="count"].TK, [class*="count"].TKL {
  background-image: url(../images/Tokelau.png);
}
[class*="count"].TO, [class*="count"].TON {
  background-image: url(../images/Tonga.png);
}
[class*="count"].TT, [class*="count"].TTO {
  background-image: url(../images/Trinidad-And-Tobago.png);
}
[class*="count"].TN, [class*="count"].TUN {
  background-image: url(../images/Tunisia.png);
}
[class*="count"].TR, [class*="count"].TUR {
  background-image: url(../images/Turkey.png);
}
[class*="count"].TM, [class*="count"].TKM {
  background-image: url(../images/Turkmenistan.png);
}
[class*="count"].TC, [class*="count"].TCA {
  background-image: url(../images/Turks-And-Caicos-Islands.png);
}
[class*="count"].TV, [class*="count"].TUV {
  background-image: url(../images/Tuvalu.png);
}
[class*="count"].UG, [class*="count"].UGA {
  background-image: url(../images/Uganda.png);
}
[class*="count"].UA, [class*="count"].UKR {
  background-image: url(../images/Ukraine.png);
}
[class*="count"].AE, [class*="count"].ARE {
  background-image: url(../images/United-Arab-Emirates.png);
}
[class*="count"].GB, [class*="count"].GBR {
  background-image: url(../images/United-Kingdom.png);
}
[class*="count"].US, [class*="count"].USA {
  background-image: url(../images/United-States-Of-America.png);
}
[class*="count"].UY, [class*="count"].URY {
  background-image: url(../images/Uruguay.png);
}
[class*="count"].UZ, [class*="count"].UZB {
  background-image: url(../images/Uzbekistan.png);
}
[class*="count"].VU, [class*="count"].VUT {
  background-image: url(../images/Vanuatu.png);
}
[class*="count"].VE, [class*="count"].VEN {
  background-image: url(../images/Venezuela.png);
}
[class*="count"].VN, [class*="count"].VNM {
  background-image: url(../images/Viet-Nam.png);
}
[class*="count"].YE, [class*="count"].YEM {
  background-image: url(../images/Yemen.png);
}
[class*="count"].ZM, [class*="count"].ZMB {
  background-image: url(../images/Zambia.png);
}
[class*="count"].ZW, [class*="count"].ZWE {
  background-image: url(../images/Zimbabwe.png);
}
