@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0){
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left; 
}
@mixin backface($value){
	-webkit-backface-visibility: $value;
		-moz-backface-visibility: $value;
		  -o-backface-visibility: $value;
			  backface-visibility: $value;
}

@mixin baselink($color: #fff){
	color: $color;
	text-decoration: none;
}

@mixin borderbox(){
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
		  -o-box-sizing: border-box;
			  box-sizing: border-box;
}

@mixin radius($value){
	-webkit-border-radius: $value;
		-moz-border-radius: $value;
		  -o-border-radius: $value;
			  border-radius: $value;
}
@mixin ratio($value){
	&:after {
		content: '';
		padding-top: $value;
		display: block;
	}
}
@mixin transform($value){
	-webkit-transform: $value;
		-moz-transform: $value;
		 -ms-transform: $value;
		  -o-transform: $value;
			  transform: $value;
}
@mixin transition($value: 0.15s){
	-webkit-transition: all $value;
		-moz-transition: all $value;
		 -ms-transition: all $value;
		  -o-transition: all $value;
			  transition: all $value;
}
@mixin transitionCus($value: all 0.15s){
	-webkit-transition: $value ease-in-out;
		-moz-transition: $value ease-in-out;
		 -ms-transition: $value ease-in-out;
		  -o-transition: $value ease-in-out;
			  transition: $value ease-in-out;
}
@mixin verticalAlign() {
	vertical-align: middle;
	&:before {
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}
@mixin webkitinator($prefix, $value){
	-webkit-#{$prefix}: $value;
		-moz-#{$prefix}: $value;
		 -ms-#{$prefix}: $value;
		  -o-#{$prefix}: $value;
			  #{$prefix}: $value;
}
